body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(246, 246, 246);
}

header {
    height: 100%;
    width: 20%;
    background-color: rgb(0, 2, 2);
    position: fixed;
}

.main {
    height: 100%;
    margin-left: 20%;
    align-items: center;
}

#resumee {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: inline-block;
    gap: 10px;
    gap: 10px;
    width: 60%;
    height: auto;
    border: 1px solid gray;
    color: white;
    margin: 2% auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 7px 4px 7px 4px rgb(15, 14, 14);
}

.infor {
    margin: 20px;
    border: .2rem solid wheat;
    border-radius: 10px;
    width: calc(50% - 5px);
    background-color: #ebe5e5;
    padding: 20px;
    color: #111;
    text-align: center;
    box-shadow: 4px 4px 3px 2px rgb(119, 114, 114);
}

.a,
.b,
.c,
.d,
.e {
    display: flex;
}

div>nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    margin-top: 5em;
    margin-left: 1.5em;
}

button {
    cursor: pointer;
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: orange;
}

button:hover {
    background-color: rgb(27, 26, 26);
    color: orange;
    letter-spacing: .1rem;
}

#rem {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

#name {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

#degree {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

#jobTitle {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

#company {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

#roleExcitement {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

#projects {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

#careerGoals {
    margin: 1rem;
    padding: 1rem;
    display: flex;

    border-radius: 10px;

}

#skills {
    margin: 1rem;
    padding: 1rem;
    display: flex;

    border-radius: 10px;

}

.ima {
    width: 80%;
    height: auto;
}

#otherInfo {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

#r {
    border-radius: 1rem;
}

label {
    margin: 2rem 0 1rem 1rem;
}

#output {
    margin-top: 2rem;
    width: 60VW;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    overflow: hidden;
    font-size: 2rem;
    border: .7rem solid #999;
    border-radius: 1rem;
    margin-left: 8rem;
    background-color: rgb(184, 157, 157);
}

a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 0.6rem;
    border-radius: 20px;
}

a:hover {
    letter-spacing: .1rem;
    color: orange;
    background-color: #0056b3;
}

#mainimg {
    margin-top: 2rem;
}

.main {
    height: 100%;
    margin-left: 20%;
    align-items: center;
}

a {
    cursor: pointer;
}

img:hover {
    transform: scale(.9);
    cursor: pointer;
}

select {
    width: 9rem;
}

.about {
    display: flex;
}

#aboutus {
    width: 68%;
    margin: 1% auto;
}

.feed {
    display: flex;
    width: 68%;
    margin: 1% auto;
}

.feedb {
    border: 1px solid rgb(178, 28, 28);
    margin-left: 1rem;
    border-radius: 4px;
}

div>nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    margin-top: 5em;
    margin-left: 1.5em;
}

nav>a {
    text-decoration: none;
    color: white;
    line-height: 3em;
}

#fa {
    color: white;
}

.naviteam3 {
    display: flex;
    flex-direction: column;
}

.naviteam2 {
    display: flex;
    flex-direction: column;
}

.naviteam1 {
    display: flex;
    flex-direction: column;
}

.icon {
    padding-left: 15rem;
}

#i1 {
    padding: 1rem;
}

#bt {
    background-color: black;
    color: #f4efef;
}

form {
    width: 500px;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    padding: 5px;
    height: 3em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

input {
    width: 100%;
    height: 3em;
    padding-left: 3.5em;
    font-size: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    outline: none;
}

i {
    position: absolute;
    padding: 20px;
}

.failure-icon,
.success-icon {
    position: absolute;
    right: 0;
    margin-right: 680px;
}

h1 {
    text-align: center;
}

#buttonL {
    font-size: 1em;
    width: 30%;
    height: 7vh;
    color: white;
    background-color: #ff7272;
    border-radius: 9px;
    margin-left: 200px;
}

#buttonL:hover {
    color: #ff7272;
    background-color: white;
}

.main1 {
    background-color: #dfd6d6;
    width: 60%;
    padding: 2em;
    height: 50%;
    border-radius: 70px;
    box-shadow: 10px 5px 5px rgb(7, 7, 7);
}

.container {
    max-width: 600px;
    margin-left: 200px;
    background: #fff;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
    text-align: center;
    color: #333;
}

p {
    line-height: 1.6;
    font-size: 16px;
    color: #050202;
}

button:hover {
    background: #0056b3;
}

#resumee,
#output {
    display: none;
}

.cover-letter {
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

.cover-letter h3 {
    text-align: center;
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
}

@media (max-width:1105px) {
    #resumee {
        width: 70vw;
    }
    .infor {
        width: 20vw;
    }
}

@media (max-width: 778px) {

    body {
        width: 80vw;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 60px;
    }

    header {
        width: 100%;
        height: 15%;
        top: 0;
        left: 0;
        background-color: #111;
        position: fixed;
    }

    #resumee {
        width: 70vw;
    }

    h,
    p {
        width: 100%;
        padding: 50px;
        font-size: 18px;
        color: #111;
    }

    .infor {
        width: 20vw;
    }

    textarea {
        width: 6rem;
    }

    .main {
        width: 100%;
        padding-right: 8rem;
    }

    .imag img {
        margin-top: 15vh;
        width: 80vw;
        padding: 0px;
        padding-top: 1px;
    }

    .imag {
        width: 100%;
        margin-top: 10vh;
        padding: 0%;
    }

    .res {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: centera;
        align-items: center;
        font-size: 0.8rem;
        margin-top: 10px;
    }

}

@media (max-width: 590px) {
    body {
        width: 100vw;
        height: 100vw;

    }
    header {
        width: 100%;
        height: 13%;
        top: 0;
        left: 0;
        background-color: #111;
        position: fixed;
    }

    .res{
        font-size: 1rem;
    }
    #resumee {
        width: 80vw;
        margin-left: 10px;
    }
    .infor{
        width: 25vw;
    }
    .container {
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}
@media (max-width: 390px) {
    body{
        font-size: 2rem;
    }
    .imag img{
        width: 100vw;
        height: 50vh;
        margin: 90px;
    }
    
    header {
        position: fixed;
        width: 100%;
        height: 9%;
        top: 0;
        left: 0;
        background-color: #111;
        
    }
    .res{
        font-size: 1.7rem;
    }

    #resume{
        width: 80vw;
        font-size: 1.8rem;
    }
    .infor{
        width: 25vw;
    }
    h1,p{
        width: 25vh;
        font-size: 1.4rem;
    }
    .res{
        font-size: 1rem;
    }
    .res:hover{
        letter-spacing: .4rem;
    }
   
}